{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}


{% block layout_footer_inner_container %}

  <div class="buttonHolder">
    <a href="https://www.facebook.com/login.php/" class="button-tick" target="_blank">❤</a>
  </div>
    {{ parent() }}
{% endblock %}